- name: Check if cargo is installed
  ansible.builtin.command: command -v cargo
  register: rust_cargo_exists
  ignore_errors: true
  changed_when: false
- name: Download Installer
  when: rust_cargo_exists is failed
  ansible.builtin.get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'
    force: 'yes'
  tags:
    - rust
- name: Install rust/cargo
  when: rust_cargo_exists is failed
  ansible.builtin.command: /tmp/sh.rustup.rs -y
  changed_when: rust_cargo_exists is failed
  tags:
    - rust
- name: Install nvm
  ansible.builtin.shell: >
    set -o pipefail && curl -LsSf https://get.nexte.st/latest/mac | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

  args:
    executable: /bin/bash
    creates: "{{ ansible_env.HOME }}/.cargo/bin/cargo-nextest"
