[user]
	name = Felix Scherz
	email = felixwscherz@gmail.com
[init]
	defaultBranch = main
[color]
    ui = auto
[diff]
  # Use better, descriptive initials (c, i, w) instead of a/b.
  mnemonicPrefix = true
  # Show renames/moves as such
  renames = true
  # When using --word-diff, assume --word-diff-regex=.
  wordRegex = .
  # Display submodule-related information (commit listings)
  submodule = log
