- name: Install zsh
  ansible.builtin.package:
    name: zsh
    state: present
  become: "{{ use_sudo }}"
- name: Install antigen
  ansible.builtin.package:
    name: antigen
    state: present
  become: "{{ use_sudo }}"
- name: Stow zsh configuration
  ansible.builtin.include_tasks: ../../tasks/stow_package.yml
  vars:
    stow_package: zsh
