- name: Install kitty
  ansible.builtin.shell: >
    set -o pipefail && curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin launch=n

  args:
    creates: "{{ ansible_env.HOME }}/Applications/kitty.app"
- name: Stow kitty configuration
  ansible.builtin.include_tasks: ../../tasks/stow_package.yml
  vars:
    stow_package: kitty
