- name: Stow git configuration
  ansible.builtin.include_tasks: ../../tasks/stow_package.yml
  vars:
    stow_package: git
    stow_chdir: "{{ stow_private_dir }}"
- name: Copy .gitignore
  ansible.builtin.file:
    src: "{{ role_path }}/files/.gitignore"
    dest: "{{ ansible_user_dir }}/.gitignore"
    state: link
