- name: Add neovim archive
  ansible.builtin.apt_repository:
    repo: ppa:neovim-ppa/unstable
  become: "{{ use_sudo }}"
  when: ansible_system == 'Linux'
- name: Install neovim
  ansible.builtin.package:
    name: neovim
  become: "{{ use_sudo }}"
- name: Stow neovim configuration
  ansible.builtin.include_tasks: ../../tasks/stow_package.yml
  vars:
    stow_package: nvim
